.debts-list {
    display: flex;
    flex-direction: column;
}

.debts-list__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.debts-list__titles {
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px solid #7c7c7c;
    margin-top: 20px;
    font-size: 17px;
    color: #7c7c7c;
    padding: 30px 15px 15px 15px;
    
}

.column-1 {
    width: 35%;
}

.column-2 {
    width: 30%;
}

.column-3 {
    width: 15%;
    white-space: nowrap;
}

.column-4 {
    width: 20%;
}