.debts-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 17px;
}


.debts-counter__title {
    color: #fff;
    padding-right: 15px;
}

.debts-counter__amount {
    color: rgb(255, 64, 64);
}