header {
    background: #333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

.filter {
    padding-top: 20px;
    padding-bottom: 20px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767.98px) { 
    .debts-list__titles {
        font-size: 13px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .debts-list__titles {
        font-size: 14px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .debts-list__titles {
        font-size: 15px;
    }
 }