.debts-list__item {
    border-bottom: 1px solid #7c7c7c;
    height: 70px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    padding: 15px 15px 5px 15px;
}

.debts-list__item--focus {
    height: auto;
    background: rgb(241, 241, 241);

    .debts-list__item__button--more {
        display: none;
    }

    .debts-list__item__button--less {
        display: block;
    }
}

.column-4 {
    .debts-list__item__title {
        padding: 0;
    }
}

.debts-list__item__title {
    text-transform: uppercase;
    font-size: 11px;
    color: #7c7c7c;
}

.debts-list-item__number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.debts-list__item {
    display: flex;
    flex-wrap: wrap;
}

.debts-list__item__value {
    margin-bottom: 18px;
    font-size: 15px;
}

.debts-list__item__button {
    font-size: 14px;
    color: #ff4040;
    border: none;
    background: transparent;
    margin-bottom: 33px;
    cursor: pointer;
    display: block;
    padding: 0;
}

.debts-list__item__button:focus {
    outline: none;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767.98px) { 
    .debts-list__item__title {
        text-transform: uppercase;
        font-size: 10px;
        padding-right: 20px;
        color: #7c7c7c;
    }
    
    .debts-list__item__value {
        margin-bottom: 18px;
        font-size: 12px;
    }
    .debts-list__item__button {
        font-size: 12px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .debts-list__item__title {
        text-transform: uppercase;
        font-size: 10px;
        padding-right: 20px;
        color: #7c7c7c;
    }
    
    .debts-list__item__value {
        margin-bottom: 18px;
        font-size: 12px;
    }
    .debts-list__item__button {
        font-size: 12px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .debts-list__item__title {
        text-transform: uppercase;
        font-size: 10px;
        padding-right: 20px;
        color: #7c7c7c;
    }
    
    .debts-list__item__value {
        margin-bottom: 18px;
        font-size: 13px;
    }
    .debts-list__item__button {
        font-size: 13px;
    }
 }